<h2>Datasets Available in <%= @data_dir %></h2>
<ul>
  <% @data_ids.each do |d| %>
    <li><%= d %></li>
  <% end %>
</ul>

<h2>Existing Segments in <%= @runs_dir %></h2>
<ul>
  <% @segments.each do |segment| %>
    <li><a href="segments/<%= segment %>"><%= segment %></a></li>
  <% end %>
</ul>
