<h2>Summary for <span style="color:red;"><%= @segment.name %></span> segment</h2>

<h3>Datasets Submitted</h3>
<table border="0" class="kv">
  <tr><th></th><th class='header'>Status</th><th class='header'>Outcome</th></tr>
  <% @segment.datasets.each do |dataset| %>
    <tr>
      <th><%= dataset.data_id %></th>
      <td class="<%= dataset.status %>"><%= dataset.status %></td>
      <td><%= RETURN_CODES.message(dataset.return_value) %></td>
    </tr>
  <% end %>
</table>

<p><a href='/segments'>back to segments</a></p>
